<div class="filter-nav-container">
  <div class="filter-nav">
    <div class="">
      <ul class="menu vertical">
        {{#each global.filter-nav}}
        <li>
          <a href="{{@root.root}}{{page}}.html" class="filter-nav-button {{classes}} {{#ifequal @root.datakey page}}active{{/ifequal}}">
            <img src="../../{{@root.root}}{{img}}" class="inject-me bb-filter-icons" height="" title="{{title}}" width="" alt="{{alt}}">
            {{title}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{> filter-nav-mobile}}
