{{@root.root}}
{{this}}<ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
  <li><a href="/"><i class="icon icon-generic" data-icon="H"></i> Overview</a></li>
  <li><a href="/general"><i class="icon icon-generic" data-icon="i"></i> Universal princiciples</a></li>
  <li class="{{#ifequal title 'EMBL-EBI Templates'}}active{{/ifequal}}" ><a href="/general/templates"><i class="icon icon-generic" data-icon=";"></i> Templates</a></li>
  <li><a href="/websites/"><i class="icon icon-generic" data-icon="N"></i> Create websites</a></li>
  <li><a href="/websites/patterns/"><i class="icon icon-generic" data-icon=";"></i> Web patterns</a></li>
  <li><a href="/general/fonts/"><i class="icon icon-generic" data-icon="X"></i> Icon fonts</a></li>
  <li><a href="https://github.com/ebiwd/EBI-Style-lab/issues" target="_blank">Support <i class="icon icon-generic" data-icon="x"></i></a></li>
</ul>

you are at{{location}}
{{title}}
