<ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
  <li class="{{#ifequal location '/'}}active{{/ifequal}}"><a href="{{{rel-root}}}">Overview</a></li>
  <li class="{{#ifequal location '/general'}}active{{/ifequal}}"><a href="{{{rel-root}}}general">Universal principles</a></li>
  <li class="{{#ifequal location '/general/templates'}}active{{/ifequal}}"><a href="{{{rel-root}}}general/templates">Templates</a></li>
  <li class="{{#ifequal location '/websites'}}active{{/ifequal}} {{#ifequal pagetype 'meta-pattern'}}active{{/ifequal}}"><a href="{{{rel-root}}}websites/">Create websites</a></li>
  <li class="{{#ifequal title 'Web patterns'}}active{{/ifequal}}"><a href="{{{rel-root}}}websites/patterns/">Web patterns</a></li>
  <li class="{{#ifequal location '/general/fonts'}}active{{/ifequal}}"><a href="{{{rel-root}}}general/fonts/">Icon fonts</a></li>
  <li><a href="https://github.com/ebiwd/EBI-Framework/issues/new" target="_blank">Support</a></li>
</ul>
