{{#set-bb-data this}}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>EBI Style Lab < {{meta-title}}</title>
  <meta name="description" content="{{kit.description}}">

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <!-- <link rel="dns-prefetch" href="//www.ebi.ac.uk" /> -->
  <link rel="icon" href="{{root}}assets/img/favicon/foundation-favicon.ico" type="image/x-icon">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="{{root}}assets/css/app.css?rev=@@hash"> -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/libraries/foundation-6/css/foundation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/theme-embl-petrol.css" type="text/css" media="all" />

  {{#ifequal block.grid 'float'}}
    <!-- <link rel="stylesheet" href="{{root}}building-block/app-float.css?rev=@@hash"> -->
  {{else}}
    <!-- <link rel="stylesheet" href="{{root}}building-block/app.css?rev=@@hash"> -->
  {{/ifequal}}
  <style>
    body {
      background-color: #E6E8EB;
      padding: 16px;
    }

    @media screen and (min-width: 40em) {
      body {
        padding: 20px;
      }
    }

    @media screen and (min-width: 64em) {
      body {
        padding: 50px;
      }
    }
  </style>
  <link rel="stylesheet" href="{{root}}building-block/{{page}}/layout.css?rev=@@hash">
  <link rel="stylesheet" href="{{root}}building-block/{{page}}/{{page}}.css?rev=@@hash">
</head>
<body>
  {{> body}}
  <!-- <script src="{{root}}assets/js/app.js?rev=@@hash"></script> -->

  <script src="{{root}}building-block/{{page}}/{{page}}.js"></script>
  <!-- JavaScript -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <!--
  <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Your custom JavaScript file scan go here... change names accordingly -->
  <!--
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
  -->

  <script src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/js/script.js"></script>

  <!-- The Foundation theme JavaScript -->
  <script src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/libraries/foundation-6/js/foundation.js"></script>
  <script src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/js/foundationExtendEBI.js"></script>
  <script type="text/JavaScript">$(document).foundation();</script>
  <script type="text/JavaScript">$(document).foundationExtendEBI();</script>

  <!-- Google Analytics details... -->
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!--
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  -->

</body>
</html>
{{/set-bb-data}}
