<footer>
  <div id="global-footer" class="global-footer">
    <nav id="global-nav-expanded" class="global-nav-expanded row">
      <!-- Footer will be automatically inserted by footer.js -->
    </nav>
    <section id="ebi-footer-meta" class="ebi-footer-meta row">
      <!-- Footer meta will be automatically inserted by footer.js -->
    </section>
  </div>
</footer>

<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script defer="defer" src="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/{{#if framework-version}}v{{framework-version}}{{else}}v1.4{{/if}}/js/script.js"></script>

<!-- The Foundation theme JavaScript -->
<script src="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/{{#if framework-version}}v{{framework-version}}{{else}}v1.4{{/if}}/libraries/foundation-6/js/foundation.js"></script>
<script src="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/{{#if framework-version}}v{{framework-version}}{{else}}v1.4{{/if}}/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">$(document).foundation();</script>
<script type="text/JavaScript">$(document).foundationExtendEBI();</script>

<!-- Style Lab announcements -->
<script>
document.addEventListener('DOMContentLoaded', function(){
/**
 * Once an announcement has been matched to the current page, show it (if there is one).
 * @param {Object} message - The message you wish to show on the page.
 * @param {string} message.headline - The headline to show (text)
 * @param {string} message.message - The contents of the message (HTML)
 * @param {string} [message.priority = 'callout'] - Optional class to add to message box. 'alert', 'warning', 'industry-background white-color'
 * @example
 *   ebiInjectAnnouncements({ headline: 'Your headline here', message: 'this', priority: 'alert' });
 */

ebiInjectAnnouncements({ headline: 'The Visual Framework 1.4 and 2.0 are coming', message: 'New services can make use of the Visual Framework 2.0. For existing services who cannot migrate, a 1.4 update is also available.<br/><a class="readmore" href="{{root}}websites/framework-next/">Learn more about the new versions and how to use them</a>', priority: 'notification' });
});
</script>

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-629242-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>

{{#if layout}}
{{!-- do not show js animation on pages with a layout parameter --}}
{{else}}

<!-- Load our test visulisation -->
<!-- <script type="text/javascript" src="http://localhost:99/3rd/three.min.js"></script> -->
<!-- <script type="text/javascript" src="http://localhost:99/grayscott.js"></script> -->
<script type="text/javascript" src="https://khawkins98.github.io/reaction-diffusion/3rd/three.min.js"></script>
<script type="text/javascript" src="https://khawkins98.github.io/reaction-diffusion/grayscott.js"></script>
<script>
// select a random vis
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max + 1);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}

var visInt = getRandomInt(0,9);
// console.log('showing vis type:',visInt);
// visInt = 0;

document.addEventListener('DOMContentLoaded', function(){
  // var vis1 = new DiffusionVis({
  //   target: '#masthead',
  //   color1: [233,180,0,.19],
  //   color2: [233,180,0,.2],
  //   color3: [255,255,255,.9],
  //   opacity: 1.0,
  //   timelimit: 100000,
  //   drawingType: visInt,
  //   position: 'middle',
  //   dynamicResize: true
  // });
  // var vis1 = new DiffusionVis({
  //   target: '#masthead',
  //   color1: [0,0,0,.17],
  //   color2: [0,0,0,.2],
  //   color3: [233,180,0,.5],
  //   opacity: 1.0,
  //   timelimit: 100000,
  //   drawingType: visInt,
  //   position: 'middle',
  //   dynamicResize: true
  // });
  // show in masthead
  $('.masthead').css('background','none'); // turn off masthead background
  var vis1 = new DiffusionVis({
    target: '#masthead',
    color1: [0,0,0,.2],
    color2: [0,124,131,.4],
    color3: [0,124,131,1],
    opacity: 1.0,
    timelimit: 100000,
    drawingType: visInt,
    position: 'middle',
    dynamicResize: true
  });

  // show footer vis after a couple of seconds (wait for strap and user to get to bottom)
  setTimeout(function() {
    var vis2 = new DiffusionVis({
      target: '.global-footer',
      color1: [255,255,255,.15],
      color2: [255,255,255,.16],
      color3: [0,124,131,.9],
      timelimit: 20000,
      opacity: 0.9,
      drawingType: visInt,
      position: 'sides',
      dynamicResize: false
    });
  }, 3000);
}, false);
</script>
{{/if}}
