<div id="skip-to">
  <a href="#content">Skip to main content</a>
</div>

<header id="masthead-black-bar" class="clearfix masthead-black-bar">
</header>
<div data-sticky-container>
  <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
    <div class="masthead-inner row">
      <!-- local-title -->
      <div class="columns medium-6" id="local-title">
        <h1><a href="{{rel-root}}" title="Back to EMBL-EBI Style Lab homepage"><i class="icon icon-functional" data-icon="A"></i> EMBL-EBI Style Lab</a></h1>
      </div>
      <div class="columns medium-6 text-right">
        <div class="">
          {{> search}}
        </div>
      </div>
      <!-- /local-title -->
      <!-- local-nav -->
      <nav>
        {{> global-navigation this}}
      </nav>
      <!-- /local-nav -->
    </div>
  </header>
</div>
{{> info-banner}}
