<div id="skip-to">
  <a href="#content">Skip to main content</a>
</div>

<header id="masthead-black-bar" class="clearfix masthead-black-bar">
{{#ifequal framework-version 'v1.2'}}
  <nav class="row">
    <ul id="global-nav" class="menu">
      <!-- set active class as appropriate -->
      <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
      <li class="home active"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
      <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
      <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
      <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
      <li class="about"><a href="//www.ebi.ac.uk/about">About us</a></li>
      <li class="search">
        <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
        <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
        <!-- The dropdown menu will be programatically added by script.js -->
        </div>
      </li>
      <li class="float-right show-for-medium embl-selector">
        <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
        <!-- The dropdown menu will be programatically added by script.js -->
      </li>
    </ul>
  </nav>
{{/#ifequal}}
</header>
<div data-sticky-container>
  <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
    <div class="masthead-inner row">
      <!-- local-title -->
      <div class="columns medium-6" id="local-title">
        <h1><a href="{{rel-root}}" title="Back to EMBL-EBI Style Lab homepage"><i class="icon icon-functional" data-icon="A"></i> EMBL-EBI Style Lab</a></h1>
      </div>
      <div class="columns medium-6 text-right">
        <div class="">
          {{> search}}
        </div>
      </div>
      <!-- /local-title -->
      <!-- local-nav -->
      <nav>
        {{> global-navigation this}}
      </nav>
      <!-- /local-nav -->
    </div>
  </header>
</div>
{{> info-banner}}
