---
meta-title: EMBL-EBI Style Lab
title: EMBL-EBI Templates
cta: Here, we provide logos, colour details, a document template and letterhead.
table-of-contents: true
filter-nav: false
filter-dropdowns: false
layout: static
location: /general/templates
---

{{{edit-button 'general/templates' 'page'}}}
{{#markdown}}

### About our visual brand

To ensure EMBL is clearly recognisable to the outside world, we encourage our staff to use consistent colours, fonts and heading styles in all presentations, posters, business cards, print publications, web pages and letters.

If you have an outreach role and would like to order business cards, please fill in the [business card form](https://tsc.ebi.ac.uk/article/business-cards).

If you have questions about the <a href="https://www.ebi.ac.uk/style-lab/websites/">Web Style guidelines</a>, contact the <a href="mailto:www-dev@ebi.ac.uk">Web Development team</a>.

### Logos and letterhead

#### Templates

To get the most out of these templates, please make sure you have the [official EMBL-EBI fonts](//www.ebi.ac.uk/style-lab/general/fonts/) installed on your machine. (We use Helvetica Neue Pro for headings and Minion Pro for body text.) Please contact the <a href="mailto:desktop@ebi.ac.uk">Desktop Team</a> if you need help with this.

The templates and logos presented here are for internal and external use. If you require these materials in a different format, please send a request to <a href="mailto:comms@ebi.ac.uk">External Relations</a>.

- [Word Document template](https://tsc.ebi.ac.uk/article/document-template)
- [PowerPoint slide template](https://tsc.ebi.ac.uk/article/graphics-and-templates/slide-template)
- [Scientific poster templates](https://tsc.ebi.ac.uk/article/graphics-and-templates/poster-template)
- [Business card templates](https://tsc.ebi.ac.uk/article/business-cards)
- [Logos](https://tsc.ebi.ac.uk/article/logos)

### EMBL fonts

EMBL uses Helvetica Neue Pro and Minion Pro fonts for print. If you cannot use Helvetica, Arial may be used.

For continuous text we recommend 10-point Minion with a 12-point leading. (Leadings in MS Word are shown in the box underneath font size.)

### Website templates

If you're looking to build a website, see [the general website guidance]({{root}}websites) and [webpage boilerplate templates]({{root}}websites/sample-site/).

{{/markdown}}
