{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{datakey}} < Web patterns < EMBL-EBI Style Lab</title>
  <meta name="description" content="{{block.description}}"><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, europe, institute" /><!-- 3 to 10 keywords about the content of this page (not the whole project) -->
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="John Doe" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="30" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2015-12-20" /> <!-- The last time the content was reviewed -->
  <meta name="ebi:expiry" content="2016-01-20" /> <!-- When this content is no longer relevant -->
  <meta name="twitter:title" content="{{block.name}}">
  <meta name="og:title" content="{{block.name}}">
  <meta name="og:type" content="website">
  <meta name="twitter:description" content="{{block.description}}">
  <meta name="og:description" content="{{block.description}}">
  <meta name="twitter:image" content="http://foundation.zurb.com/building-blocks/{{block.thumb}}">
  <meta name="og:image" content="http://foundation.zurb.com/building-blocks/{{block.thumb}}">

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <meta name="bbfile" content="{{{rel-root}}}data/building-blocks.json">
  <meta name="kitfile" content="{{{rel-root}}}data/kits.json">
  <meta name="datafile" content="{{{rel-root}}}data/{{datafile}}">
  <meta name="rootpath" content="{{{rel-root}}}">
  <meta name="datakey" content="{{datakey}}">

  <link rel="stylesheet" href="{{{rel-root}}}assets/css/app.css?rev=@@hash">
  {{> meta}}
</head>
<body class="level2"><!-- add any of your classes or IDs -->
  {{> header}}
  <div id="content">
    <!-- Suggested layout containers -->
    <section id="main-content-area" role="main">
      <div class="row columns">
        {{> bb-breadcrumbs}}
      </div>
      <div class="page-container row">
        <h2>Web patterns</h2>
        <p class="lead">Use these patterns to build your website functionality. Included are patterns for the EMBL-EBI Visual Framework (full and lite versions), they can be used with a mix of jQuery, Foundation, Bootstrap, Angular and other front-end tools.</p>
        <div class="columns medium-10 medium-push-2">

          <div class="">
            <div class="">
              <!--search container-->
              {{> search-bar type="blocks"}}
            </div>
          </div>

          {{> filter-nav-mobile}}


          <div id="main-results-container">
            {{> filter-dropdowns}}
            <div class="row small-up-1 medium-up-2 large-up-3 card-container">
              {{#each blocks}}
                {{> building-block-card-with-column this}}
              {{/each}}
            </div>
            {{> pagination}}
          </div>
          <div id="search-results-container">
            <div class="kit-container"></div>
            <div class="row small-up-1 medium-up-2 large-up-3 card-container">
            </div>
          </div>
          {{> preview-modal}}
        </div>
        <div class="columns medium-2 medium-pull-10">
          {{> filter-nav}}
        </div>
      </div>
    </section>

    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <footer id="local-footer" class="local-footer" role="local-footer">
      {{> footer}}
    </footer>
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->
  {{> footer_global}}
  {{{partial-as-script 'building-block-card' 'websites/patterns/building-block-card-with-column.html'}}}
  {{{partial-as-script 'kit-card' 'kit/kit-card-with-column.html'}}}
  <script src="../../assets_site/js/app.js?rev=@@hash"></script>
</body>

</body>
</html>
