 <!--kit details section-->
 <div class="kit-details">

  <!--breadcrumbs-->
  <div class="row column">
    {{> bb-breadcrumbs kit=this}}
  </div>

  <!--kit details-->
  <div class="row">
    <!--summary-->
    <div class="columns kit-details-summary">
      <h1 class="kit-card-header">{{name}}</h1>
      <p class="">{{description}}</p>
    </div>
    <div class="columns kit-details-action shrink">
      <div>
        <button class="float-right hide-for-small-only" type="button" data-toggle="{{datakey}}-dropdown">Download<div class="arrow-down white"></div></button>
        {{>kit-dropdown}}
        <div class="kit-card-link">
          <a class="kit-card-link-text" target="_blank" href="{{@root.root}}how-to.html#use">How do I use This?</a>
        </div>
      </div>
    </div>
  </div>
</div>
