{{#markdown}}
<p class="lead">This is a collaborative effort. The EBI Style Lab is a place to communicate how we use visual identity, code, and language to make better and more accessible services -- it exists because of pan-EMBL-EBI collaboration.</p>

## What is this, exactly?
The EBI Style Lab is a collaborative space that also shares the latest guidance on how and what should be used to build visually and textually compliant EMBL-EBI websites, documents, and texts. It's partly about reinforcing our shared identity, but it's mostly about leveraging the best tools to build things faster and with fewer bugs, errors, and user experience issues.

### Contents of the EBI Style Lab
- General styling
  - [Our basic style guide](/general)
  - Microsoft Word and PowerPoint templates (to be added)
  - Poster templates (to be added)
  - EMBL-EBI Logos (to be added)
  - [Fonts &amp; icons](/general/fonts)
  - Social media guidelines (to be added)
- Website specific
  - [How to get started with the EBI Visual Framework](/websites)
  - [How to use the EBI Icon fonts on a website](/general/fonts)
  - Boilerplate templates to get started (add link)
  - [Reusable patterns](/websites/patterns)
    - [How to add a pattern](/websites/patterns/how-to)

---

## Are you a web developer?

See the github readme.

---

## Credit
The base CMS configuration and code examples are forked from ZURB Foundation Building Blocks.
{{/markdown}}
