<form id="ebi_search" action="{{root}}search">
  <fieldset>
    <div class="input-group margin-bottom-none margin-top-large">
      <input type="text" name="q" id="tipue_search_input" class="input-group-field" pattern=".{3,}" tabindex="1" title="At least 3 characters" placeholder="Search the Style Lab" required>
      <div class="input-group-button">
        <input id="search_submit" class="button icon icon-functional" tabindex="2" type="submit" name="submit1" value="1">
      </div>
    </div>
  </fieldset>
  <!-- <p id="example" class="small">
    Examples: <a href="/ebisearch/search.ebi?db=allebi&amp;requestFrom=ebi_index&amp;query=blast">blast</a>, <a href="/ebisearch/search.ebi?db=allebi&amp;query=keratin&amp;requestFrom=ebi_index">keratin</a>, <a href="/ebisearch/search.ebi?db=allebi&amp;query=bfl1&amp;requestFrom=ebi_index">bfl1</a>
    <a class="float-right" href="#"><span class="icon icon-generic" data-icon="("></span> advanced search</a>
  </p> -->
</form>
