{{#markdown}}
## Writing: EMBL style guide

<h3>Who are these guidelines for?</h3>
<p>This is the EMBL Style Guide, a nit-picky list of our institute's elements of style. This content was put together by our outreach team and our colleagues in the <a href="https://intranet.embl.de/communication_outreach/index.html">Office of Information and Public Affairs</a> (OIPA) in Heidelberg.</p>
<p>If you have a news story or would like help with writing a news-style piece for your web page or a blog post, please get in touch by emailing <a href="mailto:contactpress@ebi.ac.uk">contactpress@ebi.ac.uk</a>.</p>
<p>If you'd like to know how we approach press releases, visit <a href="//intranet.ebi.ac.uk/outreach/news-and-press-releases">Writing: News and press releases</a>.</p>
<h3>General writing tips</h3>
<ul style="list-style-type: circle;">
<li>If you are writing content for the web, we strongly recommend that you take the Writing for the Web course, which is run a couple of times a year and is taught by usability expert Caroline Jarrett. These are coordinated by the General Training and Development Programme.</li>
<li>The language of your story must be suitable for an international audience, which includes a significant proportion of non-native English speakers.</li>
<li>The hardest part of writing your story is sometimes coming up with one central analogy so that people who are not specialists in your area can easily identify with your central idea.</li>
<li>Take special care with analogies, though, because they do not always readily cross cultural or language barriers.</li>
<li>Put the most important information first, rather than starting with background information. Your text needs to tell an appealing, well-rounded story but the relevance and impact of the news should be stressed.</li>
<li>The ideal length for a press release - and indeed most short articles on the web - is around 350 words. Sounds easy, right? It might not be! It can be hard to cut back your text without cutting the 'meat' away from the story.</li>
<li>Insert a heading before each paragraph. These are crucial for people who read quickly - make sure that the headings convey they key point in the paragraph. You may decide to drop some of these headings in the end, but they will help you outline and edit.</li>
<li>Always, always have someone read over your story and give feedback. The ideal editor will not know much about your area of speciality.</li>
</ul>
<h3><strong>Think as you write (thanks to Caroline Jarrett for these)</strong></h3>
<ul style="list-style-type: circle;">
<li>Who are you writing for?</li>
<li>Where, when and why will people use what you've written?</li>
<li>How will they use it?</li>
<li>What are you trying to achieve?</li>
<li>Is this paragraph strictly helpful/needed, or would they fit better with another story?</li>
<li>"If" comes before "then" - are you presenting ideas in the right order?</li>
</ul>
<hr />
<h2>EMBL Style Guide</h2>
<h3>EMBL-specific terms</h3>
<p><em>Note to EMBL-EBI staff</em>: Your <strong>affiliation in publications</strong> should be written as: European Molecular Biology Laboratory, European Bioinformatics Institute (EMBL-EBI).</p>
<p>EMBL member states</p>
<p>EMBL Council</p>
<p>EMBL International PhD Programme</p>
<p>EMBL Postdoctoral Programme</p>
<p>EMBL Interdisciplinary Postdoctoral Programme (EIPOD)</p>
<p>EMBL Advanced Training Centre (ATC)</p>
<p>EMBL Heidelberg</p>
<p>EMBL Grenoble</p>
<p>EMBL Monterotondo</p>
<p>EMBL Hamburg</p>
<p>EMBL-EBI</p>
<p>Head of Unit, Joint Head of Unit (capital letters) - But: group and team leader (small letters)</p>
<p>Always small: outstation - But: Unit (capital ‘U’)</p>
<p>Core Facility (capital letters)</p>
<h3>Names of People</h3>
<p>First and last names should be used when mentioned for the first time. After that only first names should be used.</p>
<h3>Brackets</h3>
<p>Please avoid using brackets, replace with hyphens. Brackets should only be used if it is a reference to another story e.g. “(see Arendt story)”.</p>
<h3>Sentence spacing</h3>
<p>Use a single space between sentences, not a double space.</p>
<h3>References</h3>
<p>References follow at the end of the text. Please avoid indexing in the text e.g. The whole process lasted less than three hours.<sup>1</sup></p>
<h3>Italics</h3>
<p>For Linnaean names, the genus (first word) is written with a capital; the species (second word) in lower case. Both are italicised, e.g. <em>Homo sapiens</em>. At the first mention, use the full name (<em>Homo sapiens</em> or <em>Bacillus thuringiensis</em>); thereafter, the name can be abbreviated (<em>H. sapiens</em> or <em>B. thuringiensis</em>)</p>
<p>Avoid using italics for chemical names.</p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
 <tr>
  <td valign="top" style="width: 154px;">
  <p><strong>Use</strong></p>
  </td>
  <td valign="top" style="width: 154px;">
  <p><strong>Avoid</strong></p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 154px;">
  <p>n-alkanes</p>
  </td>
  <td valign="top" style="width: 154px;">
  <p><em>n</em>-alkanes</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 154px;">
  <p>p-xylenes</p>
  </td>
  <td valign="top" style="width: 154px;">
  <p><em>p</em>-xylenes</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 154px;">
  <p>tert-butyl acetate</p>
  </td>
  <td valign="top" style="width: 154px;">
  <p><em>tert</em>-butyl acetate</p>
  </td>
 </tr>
</tbody>
</table>
<p><strong>** Latin</strong> words should only be italicised if they could otherwise be mistaken for English words with the same spelling. <strong>**</strong></p>
<h3>Numbers</h3>
<p>Numbers not associated with recognised units should normally be written in words if below ten; larger numbers may be given in figures. ‘After 2 min, three portions....’.</p>
<p>Numbers below 10 000 need no separators</p>
<p>e.g. 9999.</p>
<p>For numbers above 10 000, include a non-breaking space before each group of three digits. However, for numbers that are precise powers of 10, use the exponential form (10<sup>4</sup> not 10 000).</p>
<h3>Acronyms and abbreviations</h3>
<p>Abbreviations and acronyms should generally only be used when they are well known to those with a good general knowledge of science. Less familiar abbreviations should be used sparingly and must be defined the first time they are used. All abbreviations must be used consistently.</p>
<p>Acronyms should be capitalised, without separating periods.</p>
<p>e.g. HIV not H.I.V.</p>
<p>The definition of the acronym should not be abnormally capitalised</p>
<p>e.g. particle image velocimetry (PIV) not Particle Image Velocimetry</p>
<p>e.g. LDA (laser Doppler anemometry) not Laser Doppler Anemometry</p>
<p>Acronyms are pluralised by adding a lower case ‘s’.</p>
<p>PhDs, CD-ROMs</p>
<h3>Units and symbols</h3>
<p>Care should be taken to use units and symbols consistently and only for their correct meanings.</p>
<p>Examples</p>
<table border="0" cellspacing="0" cellpadding="0">
<thead>
 <tr>
  <td valign="top" style="width: 209px;">
  <p><strong>Unit</strong></p>
  </td>
  <td valign="top" style="width: 213px;">
  <p><strong>Symbol</strong></p>
  </td>
 </tr>
</thead>
<tbody>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Atmosphere</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>atm (<em>not</em> atm.)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Day</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 day (<em>not</em> days <em>or</em> d)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Hour</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 h (<em>not</em> 1 hr)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Litre</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>65 l (<em>not</em> 65 L)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Metre</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>54 m (<em>not</em> 54 M)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Millilitre</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>2.4 ml (<em>not</em> 2.4 mL)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Minute</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>3 min (<em>not</em> 3 mins)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Molar</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>2.0 M (<em>not</em> 2.0 m)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Mole</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>0.2 mol (<em>not</em> moles <em>or</em> mole)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Month</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 month</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Multiplication symbol</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>2.3 x 4.7 (<em>not </em>2.3 . 4.7 <em>or</em> 2.3 &amp;middot; 4.7)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Percentage by weight</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>0.56 wt% (<em>not</em> wt.%, wt % <em>or</em> %wt.)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Percentage by volume</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>0.76 vol% (<em>not</em> vol.%, vol % <em>or</em> %vol.)</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Second</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 s</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Week</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 week</p>
  </td>
 </tr>
 <tr>
  <td valign="top" style="width: 209px;">
  <p>Year</p>
  </td>
  <td valign="top" style="width: 213px;">
  <p>1 year</p>
  </td>
 </tr>
</tbody>
</table>
<h3>Chemical formulae</h3>
<p>The names of chemicals are written out in full the first time they occur; thereafter, chemical formulae may be used providing they are simple and have been clearly associated with the chemical name.</p>
<h3>Capitalisation</h3>
<p>At beginning of sentence, capitalise the first letter after a letter or number prefix.</p>
<p>e.g. L-Phenylalanine <em>not</em> L-phenylalanine</p>
<p>e.g. 1,1,1-Trichloroethane <em>not</em> 1,1,1-trichloroethane</p>
<p>Do not use a capital letter after a colon, unless otherwise required.</p>
<p>e.g. … high glucuronidation rates: high yields of metabolite were obtained</p>
<p>e.g. Three countries were involved: France, Germany and Spain.</p>
<p>Heavenly bodies that are unique (e.g the Sun, our Moon, the Solar System, Earth, Venus, Mars, our Galaxy, the Universe) should be capitalised. Heavenly bodies that are not unique (stars, moons of other planets, other galaxies) should not be capitalised.</p>
<h3>Commas</h3>
<p>Commas should be used sparingly. Below, some of the main uses of the comma are described.</p>
<p>(i) Commas are used to separate the components of a list of three or more items. Generally, the final comma before an ‘and’ may be included or omitted. There are some sentences, however, where the final comma should be included to make the sentence clearer.</p>
<p>e.g. He lunched on a sandwich, and a glass of milk and coffee</p>
<p>e.g. He lunched on a sandwich, and a glass of milk, and coffee.</p>
<p>Now is that a glass of (milk and coffee), or a glass of milk as well as a glass of coffee?</p>
<p>(ii) Commas are used in pairs to separate a parenthetical word or phrase.</p>
<p>e.g.Clay, the sedimentary deposit, was…</p>
<p>(iii) A comma is used to separate two independent clauses in a sentence, unless the clauses are short.</p>
<p>e.g. The effect of ethanol addition on the yield of the bioreactor was investigated, and further improvements were suggested</p>
<p>(iv) When a dependent clause follows a main clause, a comma is used to divide the clauses only if the dependent clause is non-defining.</p>
<p>e.g. The mixture was filtered once the fermentation had finished</p>
<p>but The mixture was filtered, although the fermentation had not yet finished</p>
<p>(v) When a dependent clause precedes a main clause, a comma is usually used, regardless of whether the dependent clause is defining or non-defining.</p>
<p>e.g. Once the fermentation had finished, the mixture was filtered</p>
<h3>Colons and Semicolons</h3>
<p>The <strong>colon</strong> is used to introduce a list, to separate ratios, and to separate two clauses in a sentence when the second clause follows on from the first. The second clause begins with a lower-case letter.</p>
<p>e.g. Examples are given for three companies: BASF, Bayer, and Lurgi</p>
<p>e.g. A 50:50 division of the research effort…</p>
<p>e.g. Insertion of microsomes into alginate beads in the presence of polyethyleneamine produced high glucuronidation rates: high yields of metabolite were obtained</p>
<p>The <strong>semicolon</strong> separates two or more parallel parts of the sentence. It can also be used in place of commas in a list where the components of the lists are themselves long phrases, perhaps containing words separated by commas.</p>
<p>e.g. Limitation of growth due to deficient oxygen supply is reduced; productivity was also reduced</p>
<p>e.g. Drop diameter was influenced by the outer diameter of the nozzle tip at which drops form; viscosity of liquid issuing from the nozzle; the nozzle diameter; and the addition to the alginate solution of yeast, polychlorinated biphenyls, chlorinated phenols, and polyaromatic hydrocarbons</p>
<p>Colons and semicolons should be used sparingly as sentence dividers. The parts of the sentence must be very closely related to justify the use of colons or semicolons and it is often clearer for the reader to use separate sentences.</p>
<h3>Hyphenation</h3>
<p>Hyphenation is intended chiefly to avoid ambiguity. As an example, consider ‘the heavy truck driver’. Is this a 20-stone driver (a heavy truck-driver) or does he or she drive an articulated lorry (a heavy-truck driver). The second instance is an example of hyphenation when used as an adjective. The driver of a heavy truck, but a heavy-truck driver.</p>
<p>Hyphens should not be used between the number and the unit abbreviation or symbol.</p>
<p>e.g. use ‘a 10 ml sample’ rather than ‘a 10-ml sample’.</p>
<h3>Spelling</h3>
<p>UK spelling is preferred. Trade names and name of a corporate bodies or firms should be reproduced without change.</p>
<p>Below are some of the commonest differences between US and UK spelling (from the AskOxford website: <a href="http://www.askoxford.com">www.askoxford.com</a>):</p>
<ul>
<li>UK English words that end in -re (e.g. centre, fibre, theatre) often end in -er in US English (center, fiber, theater).</li>
<li>UK English words that end in -our (e.g. colour, humour) usually end with -or in US English (color, humor).</li>
<li>In UK spelling, verbs ending in a vowel plus l have a double l when endings that begin with a vowel (e.g. travel, travelled, traveller) are added. In US English the l is not doubled (travel, traveled, traveler).</li>
<li>UK English words that are spelled with the double vowels ae or oe (e.g. archaeology, manoeuvre) are spelled with just an e in US English (archeology, maneuver).</li>
<li>Some nouns that end with -ence in UK English (e.g. licence, defence) are spelled -ense in US English (license, defense).</li>
<li>Some nouns that end with -ogue in UK English (e.g. dialogue) end with -og in US English (dialog).</li>
</ul>
<h3>Word Endings: -IZE and -ISE, -YSE and -YZE</h3>
<p>Where there is a choice of endings for a word between -ise and -ize, the –ise variant is preferred. A very few words always end in –ize, e.g. capsize, assize and all words derived from prize (to value) and size.</p>
<p>The –yse ending is preferred to the –yze ending, thus catalyse, hydrolyse and dialyse, but AutoAnalyzer (trade name).</p>
<h3>Sulphur vs. sulfur</h3>
<p>The International Union of Pure and Applied Chemistry (IUPAC) standard uses an ‘f’ rather than a ‘ph’ for sulfur and all compounds of sulfur (e.g. sulfuric acid, benzenesulfonic acid, sulfolane).</p>
<h3>‘A’ and ‘an’</h3>
<p>Nouns beginning with ‘h’ should be preceded by ‘an’ only if the ‘h’ is not pronounced. Nouns beginning with a vowel should be preceded by ‘a’ if their pronunciation makes this appropriate.</p>
<p>e.g. ‘a hotel’, ‘a historic moment’, ‘a European institute’, ‘a unilateral decision’</p>
<p>but ‘an hour’, ‘an honour’.</p>

{{/markdown}}
