{{#markdown}}
## Web content: creating and editing
<h3>On this page</h3>
<p>This page will tell you who creates content, where you must go to create or edit content, and how to use the editors.</p>
<h3>Who creates content on the EMBL-EBI website?</h3>
<ul>
<li>Assorted site content: <br />
<strong>GTLs</strong> have permission by default to create and edit content. GTLs often appoint <strong>delegates</strong>, which requires e-mailing <a href="mailto:www-dev@ebi.ac.uk">www-dev@ebi.ac.uk<br />
<br />
</a></li>
<li>Service News items: <br />
Drafted by <strong>delegates of service teams</strong>. External Relations checks the content for errors before publishing it. An update is sent automatically to Twitter.<br />
<br />
</li>
<li>Press releases and top-level content: <br />
Created and published by <strong>External Relations</strong>. The <strong>Web Development</strong> team also creates and publishes content upon request.</li>
</ul>
<h3>Need help?</h3>
<ul>
<li>Writing support: <br />
from <a href="mailto:comms@ebi.ac.uk">External Relations</a> and there is a group of writers at EMBL-EBI who are willing to look over and feed back on writing: <a href="mailto:writers@ebi.ac.uk">writers@ebi.ac.uk<br />
<br />
</a></li>
<li>How-to support: <br />
<a href="mailto:comms@ebi.ac.uk">comms@ebi.ac.uk</a> or <a href="mailto:www-dev@ebi.ac.uk">www-dev@ebi.ac.uk</a> </li>
</ul>
<h3>Where website content "lives"</h3>
<p>Content on the EMBL-EBI website is entered in one of two places: a programatically accesible content database and the <a href="http://www.ebi.ac.uk">www.ebi.ac.uk</a> website itself.</p>
<p><strong>The content database</strong> focuses on descriptions of people and resources, which may appear in many places on the website, e.g.:</p>
<div>
<ul>
 <li>Everything about a service: short description, who runs it, etc.</li>
 <li>Logo (two versions)</li>
 <li>Descriptions of people and groups</li>
 <li>Everything about individuals in a team, including photos</li>
 <li>Photos and bios of speakers at events</li>
</ul>
<p>Login at <a href="http://content.ebi.ac.uk/login">content.ebi.ac.uk/login</a> with your Shibboleth credentials</p>
</div>
<div>
<p><strong>The <a href="http://www.ebi.ac.uk">www.ebi.ac.uk</a> website</strong> contains mainly static and not reusable content, e.g.:</p>
</div>
<div class="O1">
<ul>
 <li>News from your service</li>
 <li>Custom team pages</li>
 <li>Special unique page content, such as the /about page</li>
</ul>
<p>Login at <a href="http://www.ebi.ac.uk/login">www.ebi.ac.uk/login</a> with your Shibboleth credentials</p>
</div>
<hr />
<h2> </h2>
<h2>Details on specific content types</h2>
<ul>
<li><a href="#people">People pages</a></li>
<li><a href="#resources">Resources</a></li>
<li><a href="#teams">Teams</a></li>
<li><a href="#service-news">Service News</a></li>
<li><a href="#new-pages">New pages</a></li>
</ul>
<h3><a name="people"></a>People pages</h3>
<p>[Resides on Content database]</p>
<p>All information about people - whether they are staff or visiting speakers - lives in the content database.</p>
<p>Updating information about staff is fairly self-explanatory, but the biography field should be approached carefully. People often participate in events, which will have an event web page. That page will pull photos and bios from the content database, and display them all together. This presents a good opportunity to check bios for consistency, in terms of grammar, length and the order in which work experience is presented. For an example, see the <a href="http://www.ebi.ac.uk/about/events/2015/biobeat15-translating-genomics-biobusiness">BioBeat 2015 event page</a>.</p>
<h3><a name="resources"></a>Resources</h3>
<p>[Resides on Content database]</p>
<p>Information about resources is displayed in many different places on the website, for example in result lists. Filling in and updating information about a resource in the content database is fairly self explanatory. </p>
<p>The "Popular" box determines whether a resource goes to the top of a list on various pages. The Cluster Heads determine whether a resource is "popular".</p>
<p>Be sure to enter in three contacts if you can - these are the people the web team or others might contact if something does not seem right, or has gone out of date.</p>
<p>Resource descriptions also include links to modules in Train Online - do update these when you create new online courses.</p>
<p>The "maintainer" is the person who will actually be updating these descriptions.</p>
<h3><a name="teams"></a>Teams</h3>
<p>[Resides on Content database]</p>
<p>Team descriptions show up on GTL pages, among other places. Updating this content is fairly self-explanatory.</p>
<h3><a name="service-news"></a>Service news</h3>
<p>[Resides on <a href="http://www.ebi.ac.uk">www.ebi.ac.uk</a> webiste]</p>
<p>Service teams are warmly encouraged to enter service updates, like new releases and spotlight features, into the EMBL-EBI website. Using this feature showcases our diverse services in one place (and one RSS feed) and makes it easier to send content directly to the @EMBLEBI Twitter feed. It is also a good way to alert External Relations of important developments, which may require further promotion.</p>
<p>If you do not create service news often, it is a good idea to sit with someone in External Relations who can walk you through it. There are plenty of things to watch out for with this content type, for example the Summary field is for text that shows up on lists, but this is not open by default. Stuff like that.</p>
<p>Questions to address before you get started:</p>
<ul>
<li>What is your service news cycle? Who writes it, and who has sign-off?</li>
<li>Which channels are you using to post your news?</li>
<li>Does your service have a newsletter, and if so how do people sign up for it?</li>
<li>Do you track how people read your news, or track newsletter opens/clicks?</li>
</ul>
<p>Things to look out for with this content type:</p>
<p><img src="//intranet.ebi.ac.uk/sites/intranet.ebi.ac.uk/files/content/outreach/Images/Service_news_add_2016.png" alt="Adding services news to the EMBL-EBI website" title="Service news: template 1" width="800" height="599" style="border: 0px;" /></p>
<p><img src="//intranet.ebi.ac.uk/sites/intranet.ebi.ac.uk/files/content/outreach/Images/Service_news_add_2_2016.png" alt="Adding service news to the EMBL-EBI website" title="Service news template 2" width="784" height="600" style="border: 0px;" /></p>
<p>External Relations is very happy to help you put together service news items! E-mail <a href="mailto:comms@ebi.ac.uk">comms@ebi.ac.uk</a></p>
<h3><a name="new-pages"></a>New pages</h3>
<p style="font-size: 10px; font-weight: normal;">[Resides on <a href="http://www.ebi.ac.uk">www.ebi.ac.uk</a> webiste]</p>
<p>If you do not add new pages often to the EMBL-EBI website, it is best to sit with someone in the External Relations or Web Development team, as there are many quirks and pitfalls to watch out for. For example, click Save often - and look out for that button shifting about.</p>
<ol>
<li>From your dashboard, select Add content. If you want a blank page, select Basic page.</li>
<li>If you want a page with a pre-defined layout (like the research or about pages), select <strong>Panel</strong>. (This section will focus on creating Panels.)</li>
<li>Select 'EBI' from the Category menu. The About layout is your most generic choice here.</li>
<li>Enter the title of the page - this will show up in the header (the coloured band right up top).</li>
<li>Select your team name from the list.</li>
<li>Enter tags and a description. The description will show up on a Google search result page.</li>
<li>Fill in the url, for example research/bergman/software/textio and Save the page.</li>
<li>Go to <strong>Panel content</strong>.</li>
<li>Create new content in each area by clicking on the cog and selecting 'Add content'.</li>
<li>The list you will see mainly shows categories of reusable content that people have created.</li>
<li>If you are making new content, select New custom content from the end of the list.</li>
<li>If you are on a sidebar and wish to add a highlight, for example for EIPODs, select Highlights and insert the one you want.</li>
<li>If you wish to add your team's Twitter widget, select it from the Widgets area.</li>
</ol>
<p>After you create a piece of content, be sure to Save the Panel. Be careful here - the Save box shifts about.</p>
<h4>Styling boxes  </h4>
<p>Style the boxes by selecting the cog on the right of each small 'pane'.</p>
<p>To style a box as "Intro" (grey, with a big, underlined title), edit the content. For the pane title itself, put &lt;none&gt; in the box. In the WYSIWYG write the title and style it &lt;h2&gt;. Save it. In the panel view, click the cog on the right of the box and select the Intro style.</p>
<p>If you are making sidebar content, use Shortcuts-transparent.</p>
<p><img src="//intranet.ebi.ac.uk/sites/intranet.ebi.ac.uk/files/content/outreach/Images/Panel_screen_shot.png" alt="Panel screen shot" title="Panel screen shot" width="800" height="547" style="border: 0px;" /></p>

{{/markdown}}
