{{#markdown}}
## EMBL core messages

<h3>EMBL External Relations Guidelines</h3>
<p>The following guidelines were developed by gathering input from EMBL staff involved in external relations. The working group included staff from science, communications and outreach, extramural and intramural training, alumni relations, human resources, international relations, resource development, and technology transfer. The document builds on EMBL’s mission and the main goals of the EMBL Programme 2012-2016. These guidelines should help you interact with all external audiences based on a common understanding of the defined missions and goals.</p>
<p><em>Iain Mattaj</em><br />
<em>Director General</em><br />
<em>March 2011</em></p>
<h4>Kernel: “Europe’s Flagship Laboratory for the Life Sciences”</h4>
<p>The cornerstones of EMBL's <a href="http://www.embl.de/aboutus/general_information/mission/index.html" title="Mission">mission</a> are to:</p>
<ul>
<li>perform basic research in molecular biology</li>
<li>train scientists, students and visitors at all levels</li>
<li>offer vital services to scientists in the member states</li>
<li>develop new instruments and methods</li>
<li>actively engage in technology transfer.</li>
</ul>
<h4>Common Kernel</h4>
<ul>
<li>The Member States own EMBL.</li>
<li>EMBL promotes excellence in the life sciences and provides opportunities for development through training.</li>
<li>EMBL is the centre of a series of networks that serve scientists, industry and the public in the Member States.</li>
<li>EMBL provides services to the scientific communities in its Member States.</li>
<li>EMBL pursues technology development and technology transfer.</li>
<li>EMBL’s culture is international, open, collaborative and interdisciplinary.</li>
</ul>
<h4>The forefront life science research: setting trends and pushing the limits of technology</h4>
<ul>
<li>EMBL pursues excellence in all its research activities. It is a world leader in life science research.</li>
<li>EMBL promotes interdisciplinarity, a key to future research progress.</li>
<li>EMBL develops the technology and instrumentation needed to solve tomorrow’s research problems.</li>
<li>EMBL is the centre of an international network of collaborations and joint research activities that integrates and adds value to Europe’s life science research.</li>
<li>EMBL’s culture is built around enabling researchers to reach their potential.</li>
</ul>
<h4>Providing world-class research infrastructure and services to the Member States</h4>
<ul>
<li>EMBL provides access to world-class infrastructures for the life science community including access to the core biological data at EMBL-EBI and unique structural biology services at EMBL Hamburg and Grenoble.</li>
<li>EMBL Core Facilities enable EMBL researchers to work with cutting-edge technologies. They serve as models for national institutions in the Member States.</li>
</ul>
<h4>Training and inspiring the next generation of leaders</h4>
<ul>
<li>EMBL trains tomorrow’s research leaders.</li>
<li>EMBL is a place to discover and develop new talents.</li>
<li>EMBL continually develops, refines and disseminates best-in-class training approaches.</li>
<li>We care for and support the Member State scientific community.</li>
<li>EMBL seeks dialogue with society and industry.</li>
</ul>
<h4>Driving research innovation and progress through technology development, interactions with industry and technology transfer</h4>
<ul>
<li>EMBL is a reliable partner providing innovative ideas, discoveries and consultancy to industry partners.</li>
<li>EMBL demonstrates value of investments in basic research through effective Technology Transfer.</li>
<li>EMBL develops the technology and instrumentation needed to tackle future research challenges.</li>
<li>EMBL makes strategic investments in projects selected for their innovation potential.</li>
</ul>
<h4>Taking a leading role in the integration of life science research in Europe</h4>
<ul>
<li>The Member States own EMBL.</li>
<li>EMBL sets standards and serves as a model for national research organisations.</li>
<li>EMBL develops collaborative networks with the scientific communities in its Member States.</li>
<li>EMBL facilitates countries to engage in international activities.</li>
<li>EMBL successfully manages large international projects (incl. externally funded projects).</li>
<li>EMBL operates major European research infrastructures in the life sciences.</li>
<li>EMBL is actively participating in shaping the development of the European Research Area.</li>
<li>EMBL is encouraging all European countries to join and to participate in Europe’s foremost institute for molecular biology.</li>
</ul>
<h4>Excellence in providing non-bureaucratic, timely and efficient administrative services through nonintrusive, flexible and effective processes and systems that support an international, progressive and nurturing work environment that attracts the highest quality staff and encourages them to fulfil their potential</h4>
<ul>
<li>EMBL aims to become a model for scientific administration.</li>
<li>EMBL’s culture is international, open, collaborative and challenging.</li>
<li>The working environment is non-bureaucratic and staff-oriented.</li>
<li>EMBL contributes to the common good. Life science research helps to understand human health and disease.</li>
<li>EMBL promotes excellence, independence and leadership.</li>
<li>EMBL provides competitive international working conditions.</li>
<li>EMBL liaises and collaborates with relevant partners in order to generate added value on matters of governance, infrastructure and know-how.</li>
</ul>
<h3>EMBL Leadership and Governance</h3>
<p>The <a href="http://www.embl.de/aboutus/general_information/index.html">EMBL website</a> has a comprehensive About section that tells you about leadership, governance and history.</p>



{{/markdown}}
