.dropdown-foundation {
  padding: 1rem;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.dropdown-title {
  margin-bottom: 0;
}

.dropdown-help {
  height: 1.5rem;
}

.dropdown-input {
  background: $light-blue;
  border-color: $primary-color;
  box-shadow: none;
}

.dropdown-copy {
  width: rem-calc(100);
}
