.building-block-header-name-section {
  display: flex;
  align-items: center;

  .building-block-title {
    line-height: 23px;
  }

  .building-block-title,
  .building-block-author {
    margin-bottom: 0;
  }

  @include breakpoint(medium down) {
    display: block;

    .building-block-title,
    .building-block-author {
      margin-left: 0;
      margin-bottom: 0.5rem;
      padding: 0;
      display: block;
    }
  }
}

.building-block-title {
  color: $dark-blue;
  display: inline;
  font-size: rem-calc(27);
  font-weight: $global-weight-bold;
  text-transform: uppercase;

  @include breakpoint(small only) {
    padding-right: rem-calc(50);
    display: block;
    font-size: 1.5rem;
  }
}

.building-block-author {
  color: $dark-gray;
  display: inline;
  font-size: rem-calc(15);
  margin-left: 0.5rem;
  text-transform: none;
  a {
    color: $dark-gray;
  }

  img {
    margin-right: 10px;
  }

  @include breakpoint(small only) {
    display: block;
    margin-left: 0;
  }
}


.bb-header-social {
  margin-left: 1rem;

  @include breakpoint(small only) {
    display: none;
  }
}

.bb-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .bb-action-icons {
    @include breakpoint(small only) {
      order: 2;
    }
  }

  .bb-action-icon {
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 3px;

    @include breakpoint(small only) {
      order: 3;
    }
  }

  @include breakpoint(medium) {
    align-items: flex-start;
    justify-content: flex-end;
  }
}
