<!-- flattened version of building block with wrapper for use on client -->
<div class="column column-block">
  <div class="hover-wrapper">
    <a class="no-underline" href="../../{{href}}" class="card-imghover-overlay">
      <div class="card card-building-block">
        <div class="card-img" style="background-image: url(../../{{thumb}});">
        </div>
        <div class="">
          <span class="label">{{#if category}}{{category}}{{else}}Category{{/if}}</span>
          <h4>{{#if name}}{{name}}{{else}}Showcase Card{{/if}}</h4>
        </div>
      </div>
    </a>
  </div>
</div>
