<div class="hover-wrapper">
  <a href="../../{{href}}" class="card-imghover-overlay">
    <div class="card card-building-block">
      <div class="card-img" style="background-image: url(../../{{thumb}});">
      </div>
      <div class="">
        <span class="label">{{#if category}}{{category}}{{else}}Category{{/if}}</span>
        <h4>{{#if name}}{{name}}{{else}}Showcase Card{{/if}}</h4>
      </div>
      <div class="">
        <div>
          {{#if author.github}}
          <img src="https://github.com/{{author.github}}.png?size=30" class="avatar content-right" height="" width="" alt="">
          {{else}}
          <img src="http://placehold.it/30" class="avatar content-right" height="" width="" alt="">
          {{/if}}
        </div>
      </div>
    </div>
  </a>
</div>
