<div class="building-block-header">
  <div class="row align-top align-justify">
    <div class="small-12 medium-7 large-8 columns">
      <div class="building-block-header-name-section">
        <h2 class="">{{block.name}}</h2>
        <h3 class="building-block-author">{{#if block.author.github}}<img src="https://github.com/{{block.author.github}}.png?size=30" class="avatar content-right" height="" width="" alt="">{{/if}}By
          <a href="https://github.com/{{block.author.github}}">{{block.author.name}}</a>
        </h3>
      </div>
      <div class="padding-bottom-medium">
        {{#tag-links block.tags}}
        <a href="{{../root}}?q={{this.name}}" class="tag margin-left-small">{{this.name}}</a>
        {{/tag-links}}
        <small>Requires EBI Visual Framework</small> 
        {{#each block.major-versions}}
        <span class="label">{{this.minors}}</span>
        {{/each}}
      </div>
      <p>{{block.description}}</p>
    </div>
    <div class="column small-12 medium-5 large-4 bb-actions">
      <div>
        <button class="button float-right hide-for-small-only" type="button" data-toggle="example-dropdown">Download<div class="arrow-down white"></div></button>
        {{> block-dropdown block}}
      </div>
    </div>
  </div>
</div>
